# NPM doesn't tag versions in a monorepo, so we're doing it manually using
# postversion scripts; let's turn it off anyway in case NPM changes and it 
# conflicts with what we're doing
git-tag-version=false
